@font-face {
  font-family: Torus;
  /*noinspection CssUnknownTarget*/
  src: url('/fonts/Torus-Regular.otf');
  font-weight: 500;
}

@font-face {
  font-family: Torus;
  /*noinspection CssUnknownTarget*/
  src: url('/fonts/Torus-SemiBold.otf');
  font-weight: 600;
}

@font-face {
  font-family: Torus;
  /*noinspection CssUnknownTarget*/
  src: url('/fonts/Torus-Bold.otf');
  font-weight: 700;
}

body {
  margin: 0;
  font-family: var(--osu-default-font, var(--fallback-font));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--osu-default-font, var(--fallback-font));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --osu-default-font: Torus,Inter;
  --fallback-font: "Helvetica Neue",Tahoma,Arial,"Hiragino Sans GB","Microsoft YaHei","Apple SD Gothic Neo",system-ui,sans-serif， -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif,
}
